:root {
    --slide-size: 280px;
}

div.section-photo-outer {
    width: 100%;
    margin: auto;
    background: white;
}

div.section-photo-inner {
    width: calc(1120px + var(--slide-size) * 2);
    margin: 0 auto;
    padding: 80px 0;
    position: relative;
}

.slider {
    overflow: hidden;
    padding-left: 50%;
    padding-right: 50%;
    cursor: grab;
}

.slider:active {
    cursor: grabbing;
}

.slides {
    margin-left: calc(var(--slide-size) / 2 * -1);
    margin-right: calc(var(--slide-size) / 2 * -1);
    white-space: nowrap;
    font-size: 0;
}

.slides .slide {
    display: inline-block;
    width: var(--slide-size);
    height: var(--slide-size);
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
}

.slides .slide img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    object-fit: cover;
}

.slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.slider-overlay .slider-fade-l {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--slide-size);
    height: 100%;
    background: linear-gradient(
            to right,
            rgba(255,255,255,1) 0%,
            rgba(255,255,255,0) 100%
    );
}

.slider-overlay .slider-fade-r {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--slide-size);
    height: 100%;
    background: linear-gradient(
            to right,
            rgba(255,255,255,0) 0%,
            rgba(255,255,255,1) 100%
    );
}

@media (max-width: 768px) {
    div.section-photo-inner {
        width: 100%;
        margin: 0;
        padding: 40px 0;
        border: none;
    }

    .slider-overlay {
        display: none;
    }
}

@media (max-width: 480px) {
    div.section-photo-inner {
        padding: 20px 0;
    }
}