div.section-video-outer {
    width: 100%;
    margin: auto;
    backdrop-filter: grayscale(100%);
    background: linear-gradient(
            to bottom,
            rgba(0,0,0,0.9) 0%,
            rgba(0,0,0,1) 100%
    );
}

div.section-video-inner {
    max-width: 1120px;
    margin: 0 auto;
    padding: 80px 160px;
    color: #ccc;
}

.video-card {
    margin-bottom: 40px;
}

.video-thumb {
    position: relative;
    width: 100%;
    height: auto;
}

.video-thumb img {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    object-fit: cover;
    width: 100%;
}

.video-thumb button.video-trigger {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0;
}

.video-thumb button.video-trigger:hover {
    opacity: 1;
    background: rgba(0,0,0,0.8);
}

.video-thumb button.video-trigger svg {
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
}

.video-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.video-popup.active {
    display: block;
}

.video-popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    z-index: 0;
}

.video-popup-content {
    position: absolute;
    width: 100%;
    max-width: 1200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

button.video-popup-close {
    position: absolute;
    top: -60px;
    right: -4px;
    background: transparent;
    color: transparent;
    border: none;
    font-size: 0;
    cursor: pointer;
    user-select: none;
    margin: 0;
    padding: 0;
    display: block;
}

button.video-popup-close svg {
    display: block;
    width: 50px;
    height: 50px;
    fill: white;
}

button.video-popup-close:hover svg,
button.video-popup-close:active svg {
    fill: red;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    background: black;
}

.video-container #player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 1024px) {
    button.video-popup-close {
        right: 6px;
    }
}

@media (max-width: 768px) {
    div.section-video-inner {
        width: 100%;
        margin: 0;
        padding: 40px;
        border: none;
    }
}

@media (max-width: 480px) {
    div.section-video-inner {
        padding: 20px;
    }
}
